<!DOCTYPE html>
<html>

<head>
    <title>Database System</title>
    <h1>Maintenance Database</h1>
</head>

<body>
    <h3>Welcome to the Database Maintenance System</h3>

    <h5>Here, as an Admin, you can basically:</h5>
    <p>
        1. Add employees with their details <br>
        2. Display employees' data <br>
        3. Update employees' details <br>
        4. Delete employees <br><br>

        Just type "Admin" in the login section
    </p>

    <h3>Login</h3>
    <form id="login_id" action="/" method="post">
        <p>Name:</p>
        <p><input type="text" name='nm'/></p>
        <p><input type="submit" value='login'/></p>
    </form>

</body>

</html>
